p {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@import url('http://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');


.head {
  background-color: #004175;
  width: device-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  padding-left: 1rem;
  color: aliceblue;
  font-family: "'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif";
}

body {
  margin: 0;
}

.nav {
  padding-top: 2rem
  padding-right: .5rem;
  border: 2px solid black;
  font-family: "Oswald";
  display:flex;
  align-items:center
}

.nav-link {
  color:aliceblue;
}

.home-text {
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Open Sans";
}

.donate {
  background: linear-gradient(rgba (85,85,240,0.5)
  rgba (85,85,240,0.50)),
url(images/donate.jpg)
}


.volunteer {
  background: linear-gradient(rgba (85,85,240,0.5)
  rgba (85,85,240,0.50)),
url(images/volunteer.jpg)
}

.location{
  background: linear-gradient(rgba (85,85,240,0.5)
  rgba (85,85,240,0.50)),
url(images/location.png )
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
 color: aliceblue;
 width: 33.3%;
 background-size: cover;
 background-position: center;
 font-size: 2rem;
 font-family: "Open Sans";


}

.dog-list {
  display: flex;
  flex-wrap: wrap;
}

.dog {
  font-family: 'Courier New', Courier, monospace;
  border-style: solid;
  border-radius: 10px;
  border-color: beige;
  border-width: 2px;
  padding: 2px;
  margin: 2px;
}

.dog-name {
  font-family: 'Courier New', Courier, monospace;

}

.dog-traits-list {
  display:flex;
  flex-wrap: wrap;
}
  
.dog-traits-item {
  display: inline-block;
  background-color: aqua;
  border-width: 5px;
  margin: 1px
  border-radius: 15px;
  flex-wrap: wrap;
  padding-top: 2rem
  padding-right: .5rem;
  border: 2px solid black;
  font-family: "Oswald";
  display:flex;
  align-items:center
}

footer a{
  text-decoration: none;
  color: aliceblue;
}

.footer {
  flex: 1 100%;
  flex-direction: flex;
  height: 13rem;
}